@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}

#root>div:first-child {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	width: 100dvw;
}

main {
	max-width: 1240px;
	padding: 0 16px;
	flex: 1;
}